.DS_Store
assets/files/gw_cv.aux
assets/files/gw_cv.log
assets/files/gw_cv.out
assets/files/gw_cv.synctex.gz
assets/files/gw_cv.tex
assets/files/gw_cv.bbl
assets/files/gw_cv.fdb_latexmk
assets/files/gw_cv.fls
